/*Font addition*/
@font-face {
  font-family: 'Main Font';
  src: url(../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf ) format('truetype');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Main Font';
  src: url(../public/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}

/*Font related default values*/
html, input, button, textarea, select{
  font-family: 'Main Font';
  font-size: 16px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

/*Resetting default values for all elements*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Default appearance for disabled elements*/
html:disabled {
  cursor: not-allowed; /* Devre dışıyken yasak işareti */
  opacity: 0.6;
}

/*Default button look*/
button {
  border-style: solid;
  border: none;

}

/*Height fixing specifically for this project*/
html, body, #root {
  height: 100dvh;
  overflow: hidden;
}
/* List icon style specifically for this propject*/
ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

/* Font sizes specifically for this project*/
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

/*Background*/
body  {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.4), rgba(0,0,0,0.9)),
                    url(./assets/images/backgroundImage/pexels-inna-kapturevska-477334644-15998726.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: no-repeat;
}

